<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Cards</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="card">
    <div class="socialContainer containerOne">
      <svg class="socialSvg" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.337 3.608 1.312.975.975 1.25 2.243 1.31 3.608.059 1.268.069 1.648.069 4.848 0 3.204-.011 3.584-.069 4.85-.062 1.365-.337 2.633-1.312 3.608-.975.975-2.243 1.25-3.608 1.31-1.268.059-1.648.069-4.85.069-3.204 0-3.584-.011-4.85-.069-1.365-.062-2.633-.337-3.608-1.312-.975-.975-1.25-2.243-1.31-3.608-.059-1.268-.069-1.648-.069-4.85 0-3.204.011-3.584.069-4.85.062-1.365.337-2.633 1.312-3.608.975-.975 2.243-1.25 3.608-1.31 1.268-.059 1.648-.069 4.85-.069zm0-2.163c-3.259 0-3.667.012-4.947.072-1.634.075-3.09.373-4.178 1.461-1.088 1.088-1.386 2.544-1.461 4.178-.059 1.279-.072 1.688-.072 4.947s.012 3.667.072 4.947c.075 1.634.373 3.09 1.461 4.178 1.088 1.088 2.544 1.386 4.178 1.461 1.279.059 1.688.072 4.947.072s3.667-.012 4.947-.072c1.634-.075 3.09-.373 4.178-1.461 1.088-1.088 1.386-2.544 1.461-4.178.059-1.279.072-1.688.072-4.947s-.012-3.667-.072-4.947c-.075-1.634-.373-3.09-1.461-4.178-1.088-1.088-2.544-1.386-4.178-1.461-1.279-.059-1.688-.072-4.947-.072zm0 5.838c-3.389 0-6.142 2.754-6.142 6.142 0 3.389 2.754 6.142 6.142 6.142s6.142-2.754 6.142-6.142c0-3.389-2.754-6.142-6.142-6.142zm0 10.285c-2.285 0-4.142-1.857-4.142-4.142s1.857-4.142 4.142-4.142 4.142 1.857 4.142 4.142-1.857 4.142-4.142 4.142zm6.406-11.451c-.796 0-1.441-.645-1.441-1.441 0-.796.645-1.441 1.441-1.441.796 0 1.441.645 1.441 1.441 0 .796-.645 1.441-1.441 1.441z"/></svg>
    </div>
    <div class="socialContainer containerTwo">
      <svg class="socialSvg" viewBox="0 0 24 24"><path d="M23.954 4.569c-.885.392-1.83.656-2.825.775 1.014-.608 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.897-.956-2.178-1.555-3.594-1.555-2.717 0-4.924 2.207-4.924 4.924 0 .386.044.762.128 1.124-4.092-.205-7.719-2.165-10.148-5.144-.424.725-.666 1.562-.666 2.457 0 1.694.863 3.188 2.175 4.065-.801-.026-1.555-.245-2.214-.612v.061c0 2.366 1.685 4.342 3.918 4.788-.41.112-.844.172-1.292.172-.315 0-.624-.03-.927-.086.625 1.956 2.444 3.379 4.6 3.421-1.68 1.319-3.809 2.106-6.102 2.106-.397 0-.789-.023-1.175-.069 2.179 1.397 4.768 2.214 7.548 2.214 9.057 0 14.009-7.498 14.009-13.986 0-.213-.005-.426-.014-.637.961-.694 1.796-1.56 2.457-2.548l-.047-.02z"/></svg>
    </div>
    <div class="socialContainer containerThree">
      <svg class="socialSvg" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12 0 5.309 3.438 9.8 8.207 11.387.6.111.82-.261.82-.577 0-.286-.01-1.043-.016-2.048-3.338.728-4.042-1.611-4.042-1.611-.546-1.385-1.334-1.753-1.334-1.753-1.091-.745.084-.729.084-.729 1.205.085 1.839 1.237 1.839 1.237 1.07 1.835 2.806 1.305 3.492.998.108-.776.418-1.305.762-1.606-2.665-.305-5.466-1.334-5.466-5.931 0-1.31.468-2.381 1.236-3.221-.124-.305-.536-1.532.117-3.191 0 0 1.009-.323 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.554 3.299-1.23 3.299-1.23.654 1.659.242 2.886.118 3.191.77.84 1.236 1.911 1.236 3.221 0 4.61-2.803 5.624-5.475 5.921.43.369.824 1.096.824 2.211 0 1.596-.014 2.886-.014 3.277 0 .32.216.694.825.576 4.765-1.59 8.198-6.079 8.198-11.387 0-6.627-5.373-12-12-12z"/></svg>
    </div>
    <div class="socialContainer containerFour">
      <svg class="socialSvg" viewBox="0 0 24 24"><path d="M20.653 15.35c-.377-.187-2.226-1.097-2.572-1.221-.346-.124-.6-.187-.853.188-.254.377-.977 1.221-1.198 1.472-.221.252-.443.283-.82.094-.377-.188-1.591-.588-3.03-1.872-1.12-.997-1.872-2.233-2.092-2.611-.221-.377-.024-.581.166-.77.172-.171.377-.443.565-.66.188-.221.251-.377.377-.628.126-.252.063-.471-.031-.66-.094-.188-.846-2.036-1.162-2.797-.304-.752-.612-.654-.853-.654-.221 0-.472-.024-.724-.024-.251 0-.66.095-1.006.471-.346.377-1.319 1.292-1.319 3.155 0 1.863 1.349 3.66 1.538 3.912.188.251 2.653 4.056 6.429 5.694.9.388 1.605.618 2.155.792.905.287 1.729.246 2.377.149.726-.111 2.226-.912 2.543-1.789.314-.877.314-1.63.22-1.789-.094-.165-.346-.252-.724-.443z"/></svg>
    </div>
  </div>
</body>
</html>
